#.clangd
CompileFlags:
  Add: [-DCLANGD, -DVIM_LSP=1]

Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: None

#InlayHints:
#  BlockEnd: No
#  Designators: Yes
#  Enabled: Yes
#  ParameterNames: Yes
#  DeducedTypes: Yes
#  TypeNameLimit: 24

# vim: set ft=yaml ts=2 sts=2 et sw=2 :
