[submodule "third_party/QJsonModel"]
	path = Modules/External/QJsonModel
	url = git@gitea:crystalsoft/QJsonModel.git
[submodule "CMake"]
	path = CMake
	url = git@gitea:crystalsoft/CmakeTools.git
[submodule "Modules/External/IOCore"]
	path = Modules/External/IOCore
	url = git@gitea:crystalsoft/IOCore.git
	branch = devel
