[submodule "third_party/QJsonModel"]
	path = Modules/External/QJsonModel
	url = https://gitea.beniquez.me/sdaveb/QJsonModel.git
[submodule "CMake"]
	path = CMake
	url = https://gitea.beniquez.me/sdaveb/CmakeTools.git
[submodule "Modules/External/IOCore"]
	path = Modules/External/IOCore
	url = https://gitea.beniquez.me/sdaveb/IOCore.git
	branch = devel
