[submodule "third_party/QJsonModel"]
	path = Modules/External/QJsonModel
	url = http://gitea/sdaveb/QJsonModel.git
[submodule "CMake"]
	path = CMake
	url = http://gitea/sdaveb/CmakeTools.git
[submodule "Modules/External/IOCore"]
	path = Modules/External/IOCore
	url = http://gitea/sdaveb/IOCore.git
	branch = devel
